.colorRed{
    color: Red;
}
.colorGreen{
    color: Green
}
@media screen and (min-width:1000px) {
    .table-cont .table-select{
        padding: 5px !important;
        margin: 15px !important;
    }
    .responsive .card{
        width: 25rem !important;
    }
}

@media screen and (max-width:1000px) {
    .table-cont .table-select{
        font-size: 80%;
        padding: 1px !important; 
        margin: 2px !important;
    }
    .responsive .card{
        width: fit-content !important;
    }
    .containerStyle h3{
        font-size: small;
    }
    .containerStyle p{
        font-size: xx-small;
    }
}
.MuiDataGrid-row{
    cursor: pointer !important;
}