.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.date-picker{
  width: 100%;
}
/* .OtpInput {
  display: flex;
  justify-content: center;
}

.OtpInput input {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  text-align: center;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.OtpInput input:focus {
  border-color: #007bff;
} */

.otp-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}
.otp-box input{
  border: 1px solid black !important;
  margin: 0 10px;
  width: 2.5rem !important;
  height: 2.6rem !important;
}

.verify-btn{
  float: right !important;
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
  background-color: #6340a0 !important;
}
.MuiButton-contained{
  background-color: #6340a0 !important;
}